DATABASE_URL="postgresql://postgres:password@localhost:5432/inditekk_db?schema=public"
BASE_URL="http://localhost:4000"
JWT_SECRET="9DKTkUOWF9ZszpjEgsWz648WXsmV8q0eRkONGbJmej4="
GMAIL_EMAIL = "inclusiveitinditekk@gmail.com"
GMAIL_REFRESH_TOKEN = "1//04tq5siCCHTBxCgYIARAAGAQSNwF-L9IrxxaXvd0fIuyMQfOZRfJPXfzwfEfDbZ3DPqiNGSQv456IP0JE1yr6XWOjJC6-UQR-5Nw"
GMAIL_CLIENT_ID = "290945630967-g6v33hunb3lv874o0k4uusvac45hrrec.apps.googleusercontent.com"
GMAIL_CLIENT_SECRET = "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"
NEXT_PUBLIC_PDF_WORKER_PATH="pdfjs-dist/build/pdf.worker.min.mjs"